$font-color-main: #48484A;
$font-color-light: #666;
$font-family-headline: Verdana, Verdana, Geneva, sans-serif;

$yellow-light: #FFF99F;
$yellow-lighter: #FCFADB;
$blue-light: #4EEAEF;//#C5C6C7 gray #34D4D7 strong-lemongreen 
                  //#DBFBFC light-blue

